<a href="https://colab.research.google.com/github/lish90/data-engineering-practice/blob/update_1/Playing1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("hello world")

hello world

3. Variables - Practicals

TASK


Define a variable called my_variable and assign it the value 23
Print the value of my_variable
Write a new line of code that reassigns my_variable to have the value 98
Print the value of my_variable again
Notice that the value of my_variable has changed.

In [3]:
my_variable =23
print(my_variable)
my_variable = 98
print(my_variable)

23
98

TASK 2

Define the the following variables num = 23, text_num = "57" and decimal_num = 98.3
Print the types of each variable (hint: use the type() function)

In [2]:
num = 23
text_num ="57"
decimal_num = 98.3
print(type(num))
print(type(text_num))
print(type(decimal_num))

<class 'int'>
<class 'str'>
<class 'float'>

TASK 3 Comments - Practicals

In [1]:
# This is a comment

In [2]:
# %%
print("cats dont work")

#  %%

cats dont work

In [3]:
result = 15//3
print(result)

5

In [4]:
# reminder

17 % 3

2

TASK 4 - Number


Define a variable called a and assign it the value 5
Define a variable called b and assign it the value 2
Print the result of a + b
Print the result of a - b
Print the result of a * b
Print the result of a / b

In [5]:
a = 5
b = 2
print(a + b)
print( a-b)
print( a*b)
print( a/b)

7
3
10
2.5

TASK 4b - Number

* Define a variable called a and assign it the value 5
* Define a variable called b and assign it the value 2
* Print the type of a
* Print the type of b
* Define a variable called c and assign it the value of a / b
* Print the type of c
* What happened?
* Define a variable called d and assign it the value of a // b
* Print the type of d
* What happened?

In [6]:
a = 5
b = 2
print(a)
print(b)
c = a/b
print(c)
# resulted in a float
d = a //b
print(d)
# gave how time 2 goes into 5

5
2
2.5
2

TASK 5 Strings - Practicals


1.   Create a variable called my_string and assign it the value "Hello World"
2. Print the value of my_string
3. Print the type of my_string.
4. Create a variable called my_string and assign it the value "Hello \nWorld".
5. Print the value of my_string.
6. Create a variable called my_string and assign it the value "Hello \tWorld".
7. Print the value of my_string.

In [7]:
my_string = "Hello World"
print(my_string)
print(type(my_string))
my_string = "Hello \nWorld"
print(my_string)
my_string = "Hello \tWorld"
print(my_string)

Hello World
<class 'str'>
Hello
World
Hello 	World

TASK 5B
1. Create a variable called my_string and assign it the value "Hello "World", including the " quotes around World inside the string definition
2. Create a variable called my_string and assign it the value "Hello 'World'". Then print it. Did it work?
3. Create a variable called my_string and assign it the value "Hello \"World""

In [12]:
my_string  = "Hello \"World"
print(my_string)
my_string = "Hello 'World'"
# using single quote
print(my_string)
my_string = "Hello \"World\""
print(my_string)

Hello "World
Hello 'World'
Hello "World"

TASK 6

1. Cast the values 0, 1 and None to booleans and print the results.
2. Create a variable called x, and assign it None. Then, create another variable called my_boolean and assign it the value of bool(x)
3. Print the type of my_boolean
4. Try creating a variable called my_boolean and assign it the value of true. Did it work? Why?
5. Create a variable called my_boolean and assign it the value of True
6. Create a variable called my_string and assign it the value of "" (an empty string). Then, create another variable called my_boolean and assign it the value of bool(my_string).
7. What is the value of my_boolean?

In [1]:
uder=0
floor=1
cow=None
print(bool(uder))
print(bool(floor))
print(bool(cow))
#output:False, has returned false because empty value
#output: True, has returned true because empty value
#output: False, has returned false because empty value

False
True
False

In [12]:
#Create a variable called x, and assign it None. Then, create another variable called my_boolean and assign it the value of bool(x)
#Print the type of my_boolean


x =None
my_boolean = bool(x)
print(my_boolean)

#Try creating a variable called my_boolean and assign it the value of true. Did it work? Why?

my_boolean = "true"
print(my_boolean)
my_boolean = True

my_string = ""
my_boolean = bool(my_string)
print(my_boolean)



#Create a variable called my_boolean and assign it the value of True
#Create a variable called my_string and assign it the value of "" (an empty string).
#Then, create another variable called my_boolean and assign it the value of bool(my_string).
#What is the value of my_boolean?

False
true
False

TASK 7
1. Create a list of four elements with a different data type. Name it list_1.
2. Now create a list with ten zeros, do it using the * operator. Name it list_2`.
3. Nest list_1 and list_2 into a new list and name it list_3. So list_3 should look like this [list_1, list2].
4. Access the fourth element of each list_1 and list_2 and store the elements in list_4. So list_4 should look like this [fourth element of list_1, fourth  element of list_2].

In [24]:
list_1 =["cat",1, 2.45, True]
print(list_1)
list_2 =[0]
repeated = list_2 * 10
print(repeated)
list_3 = list_1 +list_2
print(list_3)


list_4 = list_1[3]
print(list_4)

list_4 =list_2[-1]
print(list_4)
print(list_4)


# numbers = [1, 2, 3]
#4. Access the fourth element of each list_1 and list_2
#and store the elements in list_4. So list_4 should look like this [fourth element of list_1, fourth  element of list_2].
#repeated = numbers * 3
#print(repeated)  # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

['cat', 1, 2.45, True]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
['cat', 1, 2.45, True, 0]
True
0
0

TASK 7B
1. Given the following lists my_list_1 = [1, 2, 3, 4] and my_list_2 = [5, 6, 7, 8], write a program that:

2. Appends my_list_2 to my_list_1
3. Print my_list_1 and my_list_2 to see what changed
4. Extend my_list_1 with my_list_2
5. Print my_list_1 and my_list_2 to see what changed

In [31]:
# %%

my_list_1 = [1, 2, 3, 4]
my_list_2 = [5, 6, 7, 8]
my_list_1.append(my_list_2)
print(my_list_1)
my_list_1.extend(my_list_2)
print(my_list_1)
print(my_list_2)

[1, 2, 3, 4, [5, 6, 7, 8]]
[1, 2, 3, 4, [5, 6, 7, 8], 5, 6, 7, 8]
[5, 6, 7, 8]

TASK 8
1. Create a variable called my_dict and assign it the value {"key_1": 1, "key_2": 2}
2. Print the value of key_1
3. Print the value of key_2
3. What happens if you try to print the value of key_3?
4. Print the keys of my_dict
5. Print the values of my_dict
6. Print the items of my_dict and assign it to a variable called my_items
7. Print the type of my_items. What is it? A list or a tuple? Don't worry about not knowing what a tuple is, we will cover this in the next lesson. For this practical you just need to use the type() function to find out the time of my_items.

In [48]:
my_dict = {"key_1": 1, "key_2": 2}
print(my_dict['key_1'])
print(my_dict['key_2'])
# print(my_dict['key_3'])KeyError missing value
print(my_dict.keys())
print(my_dict.values())
my_items =my_dict.items()
print(my_items)
print(type(my_items))

1
2
dict_keys(['key_1', 'key_2'])
dict_values([1, 2])
dict_items([('key_1', 1), ('key_2', 2)])
<class 'dict_items'>

TASK 9
1. Create a variable called my_dict and assign it the value {"key_1":  1, "key_2": 2}
2. Add a new key called key_3 with the value 3 using indexing
3. Add a new key called key_4 with the value 4 using the update() method

In [51]:
my_dict = {"key_1":  1, "key_2": 2}
my_dict["key_3"] = 3
print(my_dict)
dic_2 = {"key_4": 4}
my_dict.update(dic_2)
print(my_dict)

{'key_1': 1, 'key_2': 2, 'key_3': 3}
{'key_1': 1, 'key_2': 2, 'key_3': 3, 'key_4': 4}

TASK 10
1. Create an empty tuple without Python's built-in function
2. Create an empty tuple with Python's built-in function
3. Create two tuples that contain three different data types
4. Merge the two of the tuples you created using the + operator

In [53]:
dog = ()
cat = tuple()
print(dog,cat)
carrot =('apple', 'banana', 'orange')
space =(1,2,3)
space_carrot = carrot + space
print(space_carrot )

() ()
('apple', 'banana', 'orange', 1, 2, 3)